{% extends "base_site.html" %}
{% block title %} Dashboard {% endblock title %}
{% block content %}
<div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Dashboard </h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'match:dashboard' %}">Dashboard</a></li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <!-- /row -->
                <div class="row" style="color:blue;margin-left:30px;" style="margin:0px !important;">
                    <div class="col-md-4">
                        <div class="widget smart-standard-widget">
                            <div class="row">
                                <div class="widget-caption info">
                                    <div class="col-xs-4 no-pad">
                                        <h3>{{Max_runs_obj.0.team.name}}</h3>
                                    </div>

                                    <div class="col-xs-8 no-pad">
                                        <div class="widget-detail">
                                            <h3 class="cl-info">{{Max_runs_obj.0.runs}}</h3>
                                            <span>Higest Runs</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget smart-standard-widget">
                            <div class="row">
                                <div class="widget-caption success">
                                    <div class="col-xs-4 no-pad">
                                        <h3>{{Max_wicket_obj.0.team.name}}</h3>
                                    </div>
                                    <div class="col-xs-8 no-pad">
                                        <div class="widget-detail">
                                            <h3 class="cl-success">{{Max_wicket_obj.0.wicket}}</h3>
                                            <span>Most Wickets</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-4 no-pad">
                        <div class="widget smart-standard-widget">
                            <div class="widget-caption info">
                                    <div class="col-xs-4 no-pad">
                                        <h4>{{max_win_obj.0.team.name}}</h4>
                                    </div>

                                    <div class="col-xs-8 no-pad">
                                        <div class="widget-detail">
                                            <!--<h3>{{max_win_obj.0.team.name}}</h3>-->
                                            <h3 class="cl-info">{{max_win_count}}</h3>
                                            <span>Most Wins</span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

    {% endblock content %}