{% extends "base_site.html" %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
    <div id="page-wrapper">
        <div class="">
                <ol class="breadcrumb text-right">
                    <li class="breadcrumb-item"><a href="{% url 'match:user-lists' %}">User List</a></li>
                    <li class="breadcrumb-item active ">{{ title }}</li>
                </ol>
            <div class="clearfix"></div>
            <div class="container-fluid">
                <div style="text-align: center;">
                                {% if is_message == 0 %}
                                    <div class="alert alert-danger">
                                    {{message}}
                                    </div>
                                {% else %}

                                {% endif %}

                                </div>
            <div class="row" style="max-width:600px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h2>{{ title }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-body">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <br/>
                            <form action="{{ url }}" method="POST"
                                  enctype="multipart/form-data" id="user" data-parsley-validate=""
                                  class="row">

                                {% csrf_token %}
                                <div class="form-group col-md-12">
                                    <label>Country:<span class="error">*</span></label>
                                               <select name="country" class="form-control">
                                                    <option value=""> Select country </option>
                                                    {% for country in countries %}
                                                        {% if login_user.country.id == country.id %}
                                                            <option value="{{country.id}}" selected>{{country.country_name}}</option>
                                                        {% else %}
                                                            <option value="{{country.id}}">{{country.name}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Team:<span class="error">*</span></label>
                                               <select name="team" class="form-control">
                                                    <option value=""> Select team </option>
                                                    {% for team in teams %}
                                                            <option value="{{team.id}}">{{team.name}}</option>
                                                    {% endfor %}
                                                </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Player Type:<span class="error">*</span></label>
                                               <select name="player" class="form-control">
                                                   <option value="All rounder">All rounder</option>
                                                    <option value="batsman">Batsman</option>
                                                    <option value="bowler">Bowler</option>
                                                    <option value="wicket keeper">Wicket Keeper</option>
                                                    <option value="captain">Captain</option>

                                                </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="control-label">Profile : <span class="error">*</span></label>
                                        <input class="form-control" type="file" name="image"
                                               value="" >
                                </div>

                                <div class="form-group col-md-12">
                                    <label>First Name : <span class="error">*</span></label>
                                        <input class="form-control" type="text" name="first_name"
                                               value="" >
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Last Name: <span class="error">*</span></label>
                                        <input class="form-control" type="text" name="last_name"
                                                value =""
                                </div>

                                <div class="form-group col-md-12">
                                    <label>Email Id: <span class="error">*</span></label>
                                        <input class="form-control" type="email" name="email"
                                               value=""
                                        >
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Jersy Number:<span class="error">*</span></label>
                                        <input class="form-control" type="text" name="jersy"
                                                value =""
                                        >
                                </div>


                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                                        <a href="{% url 'match:user-lists' %}"
                                           class="btn btn-primary"
                                           role="button">Cancel</a>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
            </div>

        </div>

    </div>
    </div>
{% endblock content %}
