{% extends "base_site.html" %}
{% block title %} Profile {% endblock title %}
{% block content %}
<div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Change Password</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'match:dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">


                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card form-card" style="max-width: 600px;margin: auto;">

                            <div class="card-body">
                                <!-- form start -->
                              <form  method="post" action="" id="ChangePassword" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                                        {% csrf_token %}
                                        {{msg}}

                                    <div class="box-body">
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="oldpassword">Old Password <span class="error">*</span></label>
                                                <input type="password" name="oldpassword" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="newpassword">New Password <span class="error">*</span></label>
                                                <input type="password" name="newpassword" id="password" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label for="confirmpassword">Confirm Password <span class="error">*</span></label>
                                                <input type="password" name="confirmpassword" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href="{% url 'match:dashboard' %}" class="btn btn-danger" >Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 </div>




{% endblock content%}


