{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pazi : Forgot Password</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'assets//plugins/bootstrap/css/bootstrap.min.css'%}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/pazi.min.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Forgot Password</h3>
                    </div>
                    <div class="panel-body">
                        <p style="padding: 30px;" class="text-center">Please enter your email address below and we will send you information to change your password.</p>
                        <form method = "POST">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group col-md-12">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <div class="form-group" align="center"><br>
                        <button class="btn btn-primary btn-success" type="">Send</button>
                    </div>
                            </fieldset>
                        </form>

                    </div>
                    <div class="clearfix">
                        <div class="col-sm-12">
                            <p style="display:click " class="alert alert-warning">An email has been sent to your address with a reset password you can use to access your account.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>

</html>