{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pazi : Forgot Password</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'assets//plugins/bootstrap/css/bootstrap.min.css'%}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/pazi.min.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>


<body class="login">
<div>


    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
            <div align="center">
                    <h2 style="color: red">{{ msg }}</h2>
                </div>
                <h2 class="text-center"><a href="" class="logo"><img src="{% static 'assets/img/logo.png' %}"'
                                                                     alt="Pazi"></a></h2>
                <form method="post" action="{% url 'match:forgot-reset-password'%}?id={{ string }}" name="f1"
                      enctype="multipart/form-data" id="resetpassword" data-parsley-validate=""
                      class="form-horizontal form-label-left">
                    {% csrf_token %}
                    <h1>Reset Password</h1>

                    <div>
                        <input type="password" name="password" id="password" class="form-control"
                               placeholder="New Password" required=""/>
                    </div>
                    <div>
                        <input type="password" name="confirm_password" class="form-control"
                               placeholder="Confirm Password" required=""/>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10" align="center">
                        <div class="form-group">
                            <button class="btn btn-primary btn-success" type="">Submit</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>


    </div>
</div>



</body>
</html>
