{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cricket : Login</title>
    <!-- Bootstrap Core CSS -->
     <link rel="stylesheet" href="{% static 'assets//plugins/bootstrap/css/bootstrap.min.css'%}">
       <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/pazi.min.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div align="center">
                    <h4 >{{ msg }}</h4>
                </div>
                    <div class="panel-body">
                        <img src="{% static 'assets/img/cri-logo.png' %}" class="img-responsive" alt="" />
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group col-md-12">
                                    <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group col-md-12">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkboxs col-md-6" style="margin: 5px 0;">
                                    <span class="custom-checkbox">
											<input type="checkbox" id="checkbox1" name="options" value="1">
											<label for="checkbox1">Remember Me</label>
								    </span>

                                </div>
                                <div class="form-group col-md-12 text-center" align="center"><br>
                        <button class="btn btn-success " type="">Login</button>
                    </div>
                                <!-- Change this to a button or input when using this as a form -->

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
