{% extends "base_site.html" %}
{% block title %} Profile {% endblock title %}
{% block content %}
<div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Profile</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'match:dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="table-wrapper">
                                        <div class="row">
                                            <div class="col-lg-5 col-md-6">
                                                <div class="card box-primary">
                                                    <div class="card-body">

                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                {% if request.user.image_uri %}
                                                                <img class="profile-user-img img-responsive img-circle" src="/media_cdn/{{request.user.image_uri}}" alt="profile picture">
                                                                {% else %}
                                                                <img class="profile-user-img img-responsive img-circle" src="/media_cdn/profile/default.png" alt="Default"  height="70" width="70">
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-md-8">
                                                                <h3 class="profile-username"><span class = "fa fa-user">   </span> {{request.user.username}}</h3>
                                                                <p class="text-muted"><span class = "fa fa-user"> </span>  {{request.user.get_full_name}}</p>
                                                                <p class="text-muted"><span class = "fa fa-envelope"> </span>  {{request.user.email}}</p>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <p class="clearfix"><a href="javascript:void(0);" id="update-show" class="btn btn-success"><i class="fa fa-edit"></i>&nbsp;&nbsp;&nbsp;Edit</a></p>
                                                    </div>
                                                    <!-- /.box-body -->
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-6 hidden" id="update-profile">
                                                <!-- About Me Box -->
                                                <div class="box-primary card form-card">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">Update Profile</h3>
                                                    </div>
                                                    <!-- /.box-header -->
                                                    <form method = "post" id="Adminid" enctype="multipart/form-data">
                                                         {% csrf_token %}
                                                        <div class="card-body">
                                                            <div class="form-group col-md-12">
                                                                <label for="exampleInputFile">Profile Photo</label>
                                                                <input type="file" id="exampleInputFile" name = "image">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label for="inputName" class="control-label">Name <span class="error"> *</span></label>
                                                                <input type="text" class="form-control"  name = "name" value="{{ request.user.get_full_name }}">
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label for="inputEmail" class="control-label">Email<span class="error"> *</span></label>
                                                                <input type="email" class="form-control"   name = "email" value="{{ request.user.email }}" >
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <div class="col-sm-offset-2 col-sm-10">
                                                                    <button type="submit" class="btn btn-success">Save</button>
                                                                    <button id="update-hide" class="btn btn-danger">Cancel</button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </form>
                                                    <!-- /.box-body -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./Basic Table -->
                        </div>
                    </div>
                </div>
            </div>
    {% endblock content %}