{% load static %}
{% get_static_prefix as STATIC %}

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                <a class="navbar-brand" href="{% url 'match:dashboard' %}" style="padding: 0;"><img src="{{STATIC}}assets/img/cri-logo.png" class="img-responsive" alt="Logo"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-left header-search-form hidden-xs">
                <li><a class="menu-brand" id="menu-toggle"><span class="fa-2x fa fa-bars"></span></a></li>
            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {% if request.user.image_uri %}
                        <img src="/media_cdn/{{request.user.image_uri}}" height="30" width="30"><span>{{request.user.username}}</span>
                        {% else %}
                        <img src="/static/assets/img/default-profile.png" alt="Default"  height="30" width="30">
                        {% endif %}
						</a>
                    <ul class="dropdown-menu dropdown-user right-swip">
                        <li><a href="{% url 'match:profile' %}"><i class="fa fa-user fa-fw"></i> Profile</a>
                        </li>
                        <li><a href="{% url 'match:change-password' %}"><i class="fa fa-gear fa-fw"></i> Change Password</a>
                        </li>
                        <li><a href="{% url 'match:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>

                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <!-- Sidebar Navigation -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="{% if nbar == 'dashboard' %}active{% endif %}">
                            <a href="{% url 'match:dashboard' %}"><i class="fa fa-dashboard"></i>Dashboard</a>
                        </li>
                        <li class="{% if nbar == 'user-lists' %}active{% endif %}">
                            <a href="{% url 'match:user-lists' %}"><i class="fa fa-users"></i>Player</a>
                        </li>
                        <li class="{% if nbar == 'teams' %}active{% endif %}">
                            <a href="{% url 'match:team-lists' %}"><i class="fa fa-futbol-o"></i>Team</a>
                        </li>
                        <li class="{% if nbar == 'match_list' %}active{% endif %}">
                            <a href="{% url 'match:match_view' %}"><i class="fa fa-bullseye "></i>Matches</a>
                        </li>
                        <li class="{% if nbar == 'score_list' %}active{% endif %}">
                            <a href="{% url 'match:score_view' %}"><i class="fa  fa-pied-piper-alt"></i>ScoreCard</a>
                        </li>
                        <li class="{% if nbar == 'countries' %}active{% endif %}">
                            <a href="{% url 'match:country-lists' %}"><i class="fa fa-flag"></i>Country</a>
                        </li>
                        <!---->
                        <li>
                            <a href="{% url 'match:logout' %}"><i class="fa fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>