{% extends "base_site.html" %}
{% block title %} User Management {% endblock title %}
{% block content %}
<div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Player Management</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'match:team-lists' %}">Team</a></li>
                        <li class="breadcrumb-item active">Player List</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                    <div style="text-align: center;">
                                {% if is_message == 1 %}
                                    <div class="alert alert-success">
                                    {{message}}
                                    </div>
                                {% else %}

                                {% endif %}

                                </div>
                <!-- row -->
                <div class="x_panel">
                        <div class="x_title">
                            <h2>Search</h2>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                 <form method="get">
                                     <div class="x_content">
                                         <div class="input-group">
                                             <input type="text" class="form-control" name="search">
                                             <span class="input-group-btn">
                                                 <input class="btn btn-success add-category-btn" type="submit" value="Search">
                                             </span>
                                         </div>
                                     </div>
                                 </form>
                            </div>





                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="table-wrapper">
                                        <div class="table-responsive text-nowrap">
                                            <table class="table table-striped table-hover table-sm">
                                                <thead>
                                                    <tr>
                                                        <th><b>S.No.</b></th>
                                                        <th><b>Profile Pic</b></th>
                                                        <th><b>First Name</b></th>
                                                        <th><b>Last Name</b></th>
                                                        <th><b>Player Type</b></th>
                                                        <th><b>Email ID</b></th>
                                                        <th><b>View</b></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for player in player_obj %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>
                                                            {% if player.image_uri %}
                                                            <img src="/media_cdn/{{user.image_uri}}"  alt="Avatar" height="50" width="50">
                                                            {% else %}
                                                            <img src="/static/assets/img/default-profile.png" alt="Default"  height="50" width="50">
                                                            {% endif %}

                                                        </td>
                                                        <td>{{ player.first_name }}</td>
                                                        <td>{{ player.last_name }}</td>
                                                        <td>{{ player.player_type }}</td>
                                                        <td>{{ player.email }}</td>
                                                        <td><a href="{% url 'match:player-view' player.id%}">
                                                            <span class="fa fa-eye fa-lg blue"></span></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                    <div class="col-md-12">
                                        {% include 'paginator.html' with paginator=player_obj %}
                                    </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./Basic Table -->
                        </div>
                    </div>
                </div>
            </div>


    {% endblock content %}