{% extends "base_site.html" %}
{% block title %} Profile {% endblock title %}
{% block content %}
<div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Team</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'match:dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Team</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                <!-- row -->
                <div class="row">
                    {% for team in teams %}
                        <div class="col-sm-6 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="table-wrapper">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="card box-primary">
                                                    <div class="card-body">

                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                {% if request.user.image_uri %}
                                                                <img class="profile-user-img img-responsive img-circle" src="/media_cdn/{{team.logo_uri}}" alt="profile picture">
                                                                {% else %}
                                                                <img class="profile-user-img img-responsive img-circle" src="/media_cdn/profile/default.png" alt="Default"  height="70" width="70">
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-md-8">
                                                                <h3 class="profile-username"><span class = "fa fa-user">   </span> {{team.name}}</h3>
                                                                <p> Club Name:  {{team.club_state}}</p>
                                                                <p> Total Runs: {{team.total_runs}}</p>
                                                                <p> Total Wickets:  {{team.total_wickets}}</p>
                                                                <p> Total Wins:  {{team.total_status.win}}</p>
                                                                <p> Total Loss:  {{team.total_status.loss}}</p>
                                                                <p> Total Draw:  {{team.total_status.draw}}</p>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <p class="clearfix"><a href="{% url 'match:player-lists' team.id%}" target="_blank" class="btn btn-success">&nbsp;List of Player</a></p>
                                                    </div>
                                                    <!-- /.box-body -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./Basic Table -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    {% endblock content %}