{% extends "base_site.html" %}
{% block title %} User Management {% endblock title %}
{% block content %}
<div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Country</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'match:dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Country</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                    <div style="text-align: center;">
                                {% if is_message == 1 %}
                                    <div class="alert alert-success">
                                    {{message}}
                                    </div>
                                {% else %}

                                {% endif %}

                                </div>
                <!-- row -->
                <div class="x_panel">
                        <div class="x_title">
                            <h2>Search</h2>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                 <form method="get">
                                     <div class="x_content">
                                         <div class="input-group">
                                             <input type="text" class="form-control" name="search">
                                             <span class="input-group-btn">
                                                 <input class="btn btn-success add-category-btn" type="submit" value="Search">
                                             </span>
                                         </div>
                                     </div>
                                 </form>
                            </div>
                            </div>




                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-7 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="table-wrapper">
                                        <div class="table-responsive text-nowrap">
                                            <table class="table table-striped table-hover table-sm">
                                                <thead>
                                                    <tr>
                                                        <th><b>S.No.</b></th>
                                                        <th><b>Code</b></th>
                                                        <th><b>Name</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for country in countries %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ country.code }}</td>
                                                        <td>{{ country.name }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                    <div class="col-md-12">
                                        {% include 'paginator.html' with paginator=countries %}
                                    </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./Basic Table -->
                        </div>
                    </div>
                </div>
            </div>


    {% endblock content %}