{% extends "base_site.html" %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
    <div id="page-wrapper">
        <div class="">
                <ol class="breadcrumb text-right">
                    <li class="breadcrumb-item"><a href="{% url 'match:match_view' %}">Match List</a></li>
                    <li class="breadcrumb-item active ">{{ title }}</li>
                </ol>
            <div class="clearfix"></div>
            <div class="container-fluid">
                <div style="text-align: center;">
                                {% if is_message == 0 %}
                                    <div class="alert alert-danger">
                                    {{message}}
                                    </div>
                                {% else %}

                                {% endif %}

                                </div>
            <div class="row" style="max-width:600px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h2>{{ title }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-body">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                        </button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <br/>
                            <form action="{{ url }}" method="POST"
                                  enctype="multipart/form-data" id="match" data-parsley-validate=""
                                  class="row">

                                {% csrf_token %}
                                <div class="form-group col-md-12">
                                    <label>Match:<span class="error">*</span></label>
                                        <input class="form-control" type="text" name="match"
                                                value ="">
                                </div>

                                <div class="form-group col-md-12">
                                    <label>Team First:<span class="error">*</span></label>
                                               <select name="team1" id="mySelect1" class="form-control">
                                                    <option value=""> Select team </option>
                                                    {% for team in teams %}
                                                            <option value="{{team.id}}">{{team.name}}</option>
                                                    {% endfor %}
                                                </select>
                                </div>

                                  <div class="form-group col-md-12">
                                    <label>Team First Players:<span class="error">*</span></label>
                                               <select name="players1" id="players1" class="form-control" multiple>
                                                    <option value=""> Select players </option>
                                                </select>
                                </div>


                                <div class="form-group col-md-12">
                                    <label>Team Second:<span class="error">*</span></label>
                                               <select id="mySelect2" name="team2" class="form-control">
                                                    <option value=""> Select team </option>
                                                </select>
                                </div>

                                 <div class="form-group col-md-12">
                                    <label>Team Second Players:<span class="error">*</span></label>
                                               <select name="players2" id="players2" class="form-control" multiple>
                                                    <option value=""> Select players </option>
                                                </select>
                                </div>


                                <div class="form-group col-md-12">
                                    <label>Match Date:</label>
                                        <input class="form-control" type="date" name="matchdate"
                                                value ="">
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Match Result:</label>
                                        <input class="form-control" type="text" name="matchresult"
                                                value ="">
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                                        <a href="{% url 'match:user-lists' %}"
                                           class="btn btn-primary"
                                           role="button">Cancel</a>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
            </div>

        </div>

    </div>
    </div>
{% endblock content %}
