{% extends "base_site.html" %}
{% block title %} Match View {% endblock title %}
{% block content %}
<div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">

                    <h3 class="text-themecolor">Match View</h3>


                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'match:dashboard' %}">Home</a></li>

                        <li class="breadcrumb-item active">Match View</li>

                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                    <div style="text-align: center;">
                                {% if is_message == 1 %}
                                    <div class="alert alert-success">
                                    {{message}}
                                    </div>
                                {% else %}

                                {% endif %}

                                </div>
                <!-- row -->
                <div class="x_panel">
                        <div class="x_title">
                            <h2>Search</h2>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                 <form method="get">
                                     <div class="x_content">
                                         <div class="input-group">
                                             <input type="text" class="form-control" name="search">
                                             <span class="input-group-btn">
                                                 <input class="btn btn-success add-category-btn" type="submit" value="Search">
                                             </span>
                                         </div>
                                     </div>
                                 </form>
                            </div>

                            <div class="col-sm-6 text-right col-md-8">
                                <a href="{% url 'match:match-add' %}" class="btn btn-info"><i  aria-hidden="true"></i> <span>Add Match</span></a>
                            </div>

                            </div>




                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="table-wrapper">
                                        <div class="table-responsive text-nowrap">
                                            <table class="table table-striped table-hover table-sm">
                                                <thead>
                                                    <tr>
                                                        <th><b>S.No.</b></th>
                                                        <th><b>Match</b></th>
                                                        <th><b>Team First</b></th>
                                                        <th><b>Team Second</b></th>
                                                        <th><b>Match Date</b></th>
                                                        <th><b>Match Result</b></th>
                                                        <th><b>View</b></th>


                                                    </tr>
                                                </thead>
                                                <tbody>

                                                {% for match in match_list %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ match.name }}</td>
                                                        <td>{{ match.team1.name }}</td>
                                                        <td>{{ match.team2.name }}</td>
                                                        <td>{{ match.match_date|date:"Y-m-d" }}</td>
                                                        <td>{{ match.match_result }}</td>
                                                        <td><a href="{% url 'match:score_view' %}">
                                                            <span class="fa fa-eye fa-lg blue"></span></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                    <div class="col-md-12">
                                        {% include 'paginator.html' with paginator=match_list %}
                                    </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./Basic Table -->
                        </div>
                    </div>
                </div>
            </div>


    {% endblock content %}