{% extends "base_site.html" %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
    <div id="page-wrapper">
        <div class="">
                <ol class="breadcrumb text-right">
                    <li class="breadcrumb-item"><a href="{% url 'match:user-lists' %}">ScoreCard</a></li>
                    <li class="breadcrumb-item active ">{{ title }}</li>
                </ol>
            <div class="clearfix"></div>
            <div class="container-fluid">
                <div style="text-align: center;">
                                {% if is_message == 0 %}
                                    <div class="alert alert-danger">
                                    {{message}}
                                    </div>
                                {% else %}

                                {% endif %}

                                </div>
            <div class="row" style="max-width:600px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h2>{{ title }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-body">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <br/>
                            <form action="{{ url }}" method="POST"
                                  enctype="multipart/form-data" id="score" data-parsley-validate=""
                                  class="row">

                                {% csrf_token %}
                                <div class="form-group col-md-12">
                                    <label>Match:<span class="error">*</span></label>
                                               <select name="match" class="form-control">
                                                    <option value=""> Select Match </option>
                                                    {% for match in matchs %}
                                                            <option value="{{match.id}}">{{match.name}}</option>
                                                    {% endfor %}
                                                </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>team:<span class="error">*</span></label>
                                               <select name="team" class="form-control">
                                                    <option value=""> Select team </option>
                                                    {% for team in teams %}
                                                            <option value="{{team.id}}">{{team.name}}</option>
                                                    {% endfor %}
                                                </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Runs: <span class="error">*</span></label>
                                        <input class="form-control" type="text" name="runs"
                                               value="" >
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Wicket: <span class="error">*</span></label>
                                        <input class="form-control" type="text" name="wicket"
                                                value ="">
                                </div>

                                <div class="form-group col-md-12">
                                    <label>Over: <span class="error">*</span></label>
                                        <input class="form-control" type="text" name="over"
                                               value="">
                                </div>

                                <div class="form-group col-md-12">
                                    <label>Match Status:<span class="error">*</span></label>
                                               <select name="status" class="form-control">
                                                    <option value=""> Select match status </option>
                                                    {% for status in status_list %}
                                                            <option value="{{status}}">{{status}}</option>
                                                    {% endfor %}
                                                </select>
                                </div>

                                <div class="form-group col-md-12">
                                    <label>Match Point: <span class="error">*</span></label>
                                        <input class="form-control" type="text" name="point"
                                               value="">
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                                        <a href="{% url 'match:user-lists' %}"
                                           class="btn btn-primary"
                                           role="button">Cancel</a>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
            </div>

        </div>

    </div>
    </div>
{% endblock content %}
