{% extends "base_site.html" %}
{% block title %} ScoreCard View {% endblock title %}
{% block content %}
<div id="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Score View</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'match:dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">ScoreCard View</li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid">
                    <div style="text-align: center;">
                                {% if is_message == 1 %}
                                    <div class="alert alert-success">
                                    {{message}}
                                    </div>
                                {% else %}

                                {% endif %}

                                </div>
                <!-- row -->
                <div class="x_panel">
                        <div class="x_title">
                            <h2>Search</h2>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                 <form method="get">
                                     <div class="x_content">
                                         <div class="input-group">
                                             <input type="text" class="form-control" name="search">
                                             <span class="input-group-btn">
                                                 <input class="btn btn-success add-category-btn" type="submit" value="Search">
                                             </span>
                                         </div>
                                     </div>
                                 </form>
                            </div>
                            </div>




                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="table-wrapper">
                                        <div class="table-responsive text-nowrap">
                                            <table class="table table-striped table-hover table-sm">
                                                <thead>
                                                    <tr>
                                                        <th><b>S.No.</b></th>
                                                        <th><b>Player Name</b></th>
                                                        <th><b>Runs</b></th>
                                                        <th><b>Wicket</b></th>
                                                        <th><b>Over</b></th>
                                                        <th><b>Fifty</b></th>
                                                        <th><b>Hundred</b></th>
                                                        <th><b>Maiden over</b></th>
                                                        <th><b>Fours</b></th>
                                                        <th><b>Sixs</b></th>
                                                        <!--<th><b>Man of Match</b></th>-->
                                                        <th><b>Status</b></th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for player in score_card_player_obj %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ player.player_id.get_full_name }}</td>
                                                        <td>{{ player.runs }}</td>
                                                        <td>{{ player.wicket }}</td>
                                                        <td>{{ player.over }}</td>
                                                        <td>{{ player.fifty }}</td>
                                                        <td>{{ player.hundred }}</td>
                                                        <td>{{ player.meadan_over }}</td>
                                                        <td>{{ player.fours }}</td>
                                                        <td>{{ player.sixs }}</td>
                                                        <!--<td>{{ player.man_of_match }}</td>-->
                                                        <td>{{ player.status }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="row">
                                    <div class="col-md-12">
                                        {% include 'paginator.html' with paginator=score_card_player_obj %}
                                    </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ./Basic Table -->
                        </div>
                    </div>
                </div>
            </div>


    {% endblock content %}